.container-upload {
    .title-primary {
        font-weight: 400;
        font-size: 2em;
        font-family: inherit;
        color: #333;
        text-transform: uppercase;
    }

    .title-secon {
        font-weight: 400;
        font-size: 1.5em;
        font-family: inherit;
        color: #333;
        text-transform: uppercase;
    }



    p {
        color: #666666;
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    textarea {
        border: 1px solid #337ab7;
        border-radius: 5px;
        width: 100%;
    }

    input {
        border: 1px solid #337ab7;
        border-radius: 5px;
        width: 100%;
    }

    .btn-upload-product {
        background-color: #ff4d00;
        color: #fff;
        border: none;
        border-radius: none;

        &:hover {
            background-color: #e44400;
            color: #fff;
        }
    }
}