.register-container {
    background-color: #f0f2f5;
    min-height: 75vh;
    // padding-top: 20px;


    .register-content {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        width: 400px;
        height: 580px;


        .forgot-password {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .btn-register {
            background-color: #ff4d00;
            color: #fff;

            &:hover {
                background-color: #e44400;
                color: #fff;
            }
        }

        .btn-login {
            background-color: #41695b;
            color: #fff;

            &:hover {
                background-color: #046644;
                color: #ffffff;
            }
        }

        .text-register {
            text-transform: uppercase;
            font-size: 30px;
            // color: #1877f2;
            color: #ff4d00;
            font-weight: 600;
        }

        .item-left {
            margin: 0 5px 0 0;
        }

        .item-right {
            margin: 0 0 0 5px;
        }

        .radio-group {
            justify-content: space-between;

            .container-gender {
                border: 1px solid #ccd0d5;
                box-sizing: border-box;
                border-radius: 5px;
                // margin: auto;
                padding: 5px;

            }


        }
    }
}