.container-product {
    .title-primary {
        font-weight: 400;
        font-size: 2em;
        font-family: inherit;
        color: #333;
        text-transform: uppercase;
    }

    .btn-edit {
        background-color: #ff4d00;
        color: #fff;

        &:hover {
            background-color: #e44400;
            color: #fff;
        }
    }

    .btn-delete {
        background-color: #41695b;
        color: #fff;

        &:hover {
            background-color: #046644;
            color: #ffffff;
        }
    }

}